In [4]:
import numpy as np
import pandas as pd

In [6]:
# Rooms.csv 
# PRIMARY key: nominal data
sixth_floor = np.arange(101, 120)
fifth_floor = np.arange(201, 220)
forth_floor = np.arange(301, 320)
third_floor = np.arange(401, 420)
second_floor = np.arange(501, 520)
first_floor = np.arange(601, 620)
ground_floor = np.arange(701, 720)
lower_floor = np.arange(801, 820)

# room_numbers = np.array([lower_floor, ground_floor, first_floor, second_floor, third_floor, forth_floor, fifth_floor, sixth_floor])
room_numbers = np.concatenate([lower_floor, ground_floor, first_floor, second_floor, third_floor, forth_floor, fifth_floor, sixth_floor])

# Nominal data
room_type = ['Single', 'Double', 'Suite']
room_type = np.random.choice(room_type, room_numbers.size)

# Ordinal data

room_qualities= ['Standard', 'Superior Room', 'Deluxe Room', 'Executive Room', 'Junior Suite', 'Suite', 'Penthouse Suite']
room_type_level = []

for room in room_numbers:
    if 501 <= room <= 820:
        # Randomly select from 'Standard' to 'Deluxe Room' for 5th to lower floors
        quality = np.random.choice(room_qualities[0:3])
    elif 301 <= room <= 420:
        # Randomly select from 'Executive Room' to 'Junior Suite' for 3rd and 4th floors
        quality = np.random.choice(room_qualities[3:5])
    else:
        # Randomly select from 'Suite' to 'Penthouse Suite' for 1st, 2nd, ground, and lower ground floors
        quality = np.random.choice(room_qualities[5:7])
    room_type_level.append(quality)

# Ratio data
price_per_night = []
for room in room_type_level:
    if room == 'Standard':
        price = 400
    elif room == 'Superior Room':
        price = 600
    elif room == 'Deluxe Room':
        price = 800
    elif room == 'Executive Room':
        price = 1000
    elif room == 'Junior Suite':
        price = 1200
    elif room == 'Suite':
        price = 1500
    else:
        price = 1900
    price_per_night.append(price)

rooms = pd.DataFrame({
    'RoomNumber': room_numbers,
    'RoomType': room_type,
    'RoomTypeLevel': room_type_level,
    'PricePerNight': price_per_night
})
rooms.to_csv('Rooms.csv', index=False)

In [8]:
# Guest.csv
n_guests = 1000
# PRIMARY KEY: Nominal data
guest_id = [0,]
while len(guest_id) < n_guests:
    guest_id = np.unique(np.random.randint(202400000, 202600000, n_guests))

# Nominal data
name = np.loadtxt('random-names/random_names.csv', delimiter=',', unpack=True, dtype=str)
name = name[1:]

# Nominal data
last_random_10_numbers = np.random.randint(7300000000, 7400000000, n_guests, dtype=np.int64)
contact_number = [str(last_random_10_numbers[i]).zfill(11) for i in range(n_guests)]

guests = pd.DataFrame({
    'GuestID': guest_id,
    'Name': name,
    'ContactNumber': contact_number
})

guests.to_csv('Guests.csv', index=False)

In [26]:
# Booking.csv
n_booking = 1000
# PRIMARY KEY: nominal
booking_id = [0,]
while len(booking_id) < n_booking:
    booking_id = np.unique(np.random.randint(69000000, 73000000, n_booking))

# FOREIGN KEY: Nminal 
#guest_id
# room_numbers
room_numbers_booking = np.random.choice(rooms['RoomNumber'], n_booking)

# Interval data
year = np.random.randint(2024, 2026, n_booking)
month = np.random.randint(1,13,n_booking)
day = np.random.randint(1,29,n_booking)

checkin_date = [f'{year[i]}-{str(month[i]).zfill(2)}-{str(day[i]).zfill(2)}' for i in range(n_booking)]

bookings = pd.DataFrame({
    'BookingID': booking_id,
    'GuestID': guest_id,
    'RoomNumber': room_numbers_booking,
    'CheckInDate': checkin_date
})

In [28]:
bookings.head()

   BookingID    GuestID  RoomNumber CheckInDate
0   69002621  202400267         415  2024-01-13
1   69006223  202400499         415  2025-03-28
2   69007280  202400739         408  2025-12-15
3   69010961  202401071         302  2025-10-11
4   69014091  202401305         115  2025-06-14